.navbar {
  margin: 20px 0px;
}

.content {
  padding: 0 50px;
}

.about-info {
  font-size: x-large;
}

.profile {
  display: flex;
  flex-direction: row;
}

.welcome {
  margin-left: 20px;
} 

.welcome-title {
  margin-top: 5px;
}